$backgroundPrimary :  rgb(58, 58, 52);
$backgroundSecondary :   rgb(66, 66, 60);
$backgroundTertiary :rgb(77, 77, 65);
$backgroundQuaternary:  rgb(85, 85, 76);
$primary:  rgb(160, 160, 97);
$secondary:  rgb(119, 119, 99);
$headerText: rgb(236, 235, 191);
$money: #30663b;
$onHover: rgb(204, 177, 109);

.App {
  text-align: center;
  text-decoration: none;
  
}

a {
  color: $headerText;
  text-decoration: none;
  left: 3px;
  right: 3px;

}

a:hover {

  text-shadow: 2px 2px 2px $money;
  font-weight: bold;
  color: $onHover;
}




table{
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-collapse: collapse;
  background-color: $backgroundPrimary;
  margin-top:2rem;

}



th {
  background-color: $backgroundSecondary;
  padding: 5px 10px;
  color: $primary;
  border: 1px solid $secondary;
}

td {
  padding: 2px 4px;
  color: $primary;
  border: 1px solid $secondary;
}
tr:hover{
  background-color: $backgroundTertiary;
}

.rowPrimary{
  background-color: $backgroundQuaternary;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
