
.main{
  .backgroundVideo video {
    position: fixed;
    bottom:0px;
    left:0px;
    width: 100%;
    opacity: 0.3;
    z-index: -99;
    filter:sepia(85%);
    filter: grayscale(100%);
    font-size: 5rem;
    object-fit: fill;
    
  }
  .mainContent {
    z-index: 1;
    top: 15%;
    width: 100%;
    
  }
  
}