$background: rgb(36, 36, 32);
$shadow: rgb(153, 137, 97);

.navbar {
  .logo img {
    height: 75px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-self: center;
  }

  .leftLinks {
    display: flex;
    justify-content: left;
    margin-right: auto;
  }

  .rightLinks {
    display: flex;
    justify-content: flex-end;
  }

  .rightLinks a {
    color: #cfceaa;
  }

  .linkGroup {
    display: flex;
  }

  ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background;
    box-shadow: 0px 1px 3px $shadow;
  }

  li {
    text-decoration: none;
  }
}
