$background :  rgb(36, 36, 32);
$links: rgb(71, 71, 60);
$money: #30663b;
$onHover: rgb(153, 137, 97);
$logo: rgb(163, 134, 60);

.rightLinks {
  display: flex;
  justify-content: flex-end;
}

.linkGroup {
  display: flex;
}

.logo a{
  color: $logo;
  font-weight:bold;
  
}

.rightLinks a{
  color: #cfceaa;
}

.logo a:hover{
  color: $logo;
  font-weight:bold;
  text-shadow: 2px 2px 2px rgb(33, 80, 80);
}

.emojis {
  opacity: 0.6;
}

.tallLetter{
  font-size: large;
  font-weight: bold;
  
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  box-shadow: 0px 1px 3px $onHover;
}

li {
  text-decoration: none;
  margin: 0px 10px;
}
